$def with (reslist)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>テストですね</title>
  </head>
  <body>
    <h1>Test</h1>
    <div align="center">
    $if reslist:
      <table>
        <tr>
          <th>No.
          </th>
          <th>ユーザ名
          </th>
          <th>メッセージ
          </th>
          <th>レス時刻
          </th>
        </tr>
      $for idx, item in enumerate(reslist):
        <tr>
          <td>${idx + 1}
          </td>
          <td>$item[2]
          </td>
          <td>$item[3]
          </td>
          <td>$item[4]
          </td>
        </tr>
      </table>
    $else:
      <p>リストもらってない</p>
    </div>
    <div align="center">
      <fieldset>
        <legend>レスをつける</legend>
        <form method="POST" action="$action">
          <p><input type="text" name="username" value="" /></p>
          <p><input type="text" name="message" value="" /></p>
          <p><input type="submit" name="submit" value="send" /></p>
        </form>
      </fieldset>
    </div>
  </body>
</html>