$def with (title, filename)
$# ファイル削除が行えた後に表示する画面
<?xml version="1.0" encoding="UTF-8"/>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8">
    <title>$title</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
  <div align="center">
    <h1>$title</h1>
    <p>$filename&nbsp;の削除を行いました。</p>
  </div>
  <div align="center">
    <a href="/">とりあえずわかった</a>
  </div>
  </body>
</html>
