$def with (title, realpath, filedir, uploadform, filelist, pagesize)
$# アップローダのテスト。
$# プレゼン用に軽いのを作成すること
<html>
  <head>
    <meta http-equiv="Content-Type" content="applicaiton/xhtml+xml; charset=UTF-8"/>
    <title>$title</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
  <div align="center">
    <h1>$title</h1>
    <hr>
    <h1>アップファイル一覧</h1>
    $if filelist:
     <hr>
     <div align="center">
       $for i in range(pagesize):
       <a href="/?page=${i+1}">${i+1}</a>&nbsp;
     </div>
     
      <table>
        <tr>
          <th>No.</th>
          <th>Download</th>
          <th>Size</th>
          <th>Uptime</th>
          <th>Comment</th>
          <th>Delete</th>
        </tr>
        $for i in filelist:
          <tr>
            <td align="center">$i[0]</td> $# No
            <td align="center"><a href="/chkloading?file=$i[1]">■click■</a></td> $# Download
            <td align="center">$i[2]&nbsp<b>KB</b></td> $# size
            <td align="center">$i[4]</td> $# time
            <td align="center">$i[3]</td> $# Comment
            <td align="center">
              $if not i[5]:
                <b>削除できません</p>
              $else:
                <b><a href="/delfile?file=$i[1]"><button>削除</button></b>
            </td>
          </tr>
      </table>
    $else:
      <p>ファイルはひとつもアップされてません。</p>
  </div>

  <hr/>
  <div align="center">
    <form method="POST" action="/upload" enctype="multipart/form-data">
      $:uploadform
    </form>
  </div>
  </body>
</html>
